body,
html {
    height: 100%;
}

#addSolution {
    height: auto !important;
    min-height: 30px !important;
}

.rationingContainer {
    height: 0;
    padding: 20px !important;
}

.secondTitle {
    margin-left: 10px;
}

.lblAvailable {
    color: #ffab40 !important;
}

.card-content {
    padding-bottom: 0 !important;
}

.questionTitleAddSol {
    margin-top: 0 !important;
}

.modal-content {
    padding-bottom: 0 !important;
}

.modal-content .input-field {
    margin-bottom: 0 !important;
}

.modal-footer .switch {
    padding-top: 10px !important;
}

.modal-footer .switch .lblAvailable {
    font-size: 16px;
    color: #e53935 !important;
}

.buttonRationing {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}

.buttonRationing a {
    margin-left: 10px !important;
}