.mainContainer {
    margin-top: 20px;
}

.card.large {
    height: 445px !important;
    padding-top: 20px;
}

.btn-signin {
    margin-left: 45%;
}

#userLogged {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}