body,
html {
    height: 100%;
}

.secondTitle {
    margin-left: 10px;
}

.modal-content {
    padding-bottom: 0 !important;
}

#questionTitle {
    margin-bottom: 0 !important;
    font-size: 20px;
}

.card-content span {
    color: #fff !important;
}

.linkBtnCard {
    color: #ffab40;
    position: relative;
    bottom: 5px;
    font-size: 11px !important;
}

.iconBtnCard {
    position: relative;
    bottom: -7px;
}

.noPadBottom {
    padding-bottom: 0px !important;
}

#userLogged {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}