body,
html {
    height: 100%;
}

.secondTitle {
    margin-left: 10px;
}

.alignToText {
    position: relative;
    bottom: -7px;
}

#userLogged {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}