body,
html {
    height: 100%;
}

.secondTitle {
    margin-left: 10px;
}

.pad10 {
    padding: 10px !important;
}

.card .card-action {
    padding: 5px 10px !important;
}

.correctAnswer {
    color: #388e3c;
}

.incorrectAnswer {
    color: #d32f2f;
}

.proposedRationing {
    margin-left: 5% !important;
}

.checkRationing {
    margin-left: 10% !important;
}

.noMarginTop {
    margin-top: 0px !important;
}

.noMarginBottom {
    margin-bottom: 0px !important;
}

#userLogged {
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}